@{
    ViewBag.Title = "Home Page";
}

<div class="row" ng-controller="IndexController as indexController">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
		<button ng-click="indexController.fetchAccessToken()">Push me</button>
    </div>
    <div class="col-md-4">
        
    </div>
</div>